<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo"><a href="/">
                        <img src="static/images/logo.png" alt="Image" /></a></div>
                {{!-- <li class="label">Main</li> --}}
                <li><a class="sidebar-sub-toggle"><i class="ti-home"></i> Dashboard</a>
                  <ul>
                        <li><a href="/">Dashboard</a></li>
                    </ul>
                </li>
                {{!-- <li class="label">Form</li> --}}
                    <li><a href="https://ferrumkart.com/"><i class="ti-view-list-alt"></i> Buy new product visit the E store
                    </a>
                    <ul>
                        <li><a href="https://ferrumkart.com/">Buy new product visit the E store</a></li>
                    </ul>
                </li>
                {{!-- <li class="label">Extra</li> --}}
                <li><a class="sidebar-sub-toggle"><i class="ti-files"></i>Register a new product </a>
                    <ul>
                        <li><a href="/register_product">Register a new product</a></li>
                        <!-- <li><a href="invoice-editable.html">Editable</a></li> -->
                    </ul>
                </li>

                {{!-- <li class="label">Apps</li> --}}
                {{!-- <li><a class="sidebar-sub-toggle"><i class="ti-files"></i> Register <span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/">Register New Product</a></li>
                        <!-- <li><a href="chart-morris.html">Appoint Shedule</a></li> -->
                        <!-- <li><a href="chartjs.html"></a></li>
                            <li><a href="chartist.html">Chartist</a></li>
                            <li><a href="chart-peity.html">Peity</a></li>
                            <li><a href="chart-sparkline.html">Sparkle</a></li>
                            <li><a href="chart-knob.html">Knob</a></li> -->
                    </ul>
                </li> --}}
                <li><a class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i> Book Service </a>
                    <ul>
                        <li><a href="/service-page">Book Service </a></li>
                        <!-- <li><a href="chart-morris.html">Appoint Shedule</a></li> -->
                        <!-- <li><a href="chartjs.html"></a></li>
                            <li><a href="chartist.html">Chartist</a></li>
                            <li><a href="chart-peity.html">Peity</a></li>
                            <li><a href="chart-sparkline.html">Sparkle</a></li>
                            <li><a href="chart-knob.html">Knob</a></li> -->
                    </ul>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-calendar"></i> Service Details </a>
                    <ul>
                        <!-- <li><a href="chart-flot.html">Service Details</a></li> -->
                        <li><a href="/service-details">Service Details</a></li>
                        <!-- <li><a href="chartjs.html"></a></li>
                            <li><a href="chartist.html">Chartist</a></li>
                            <li><a href="chart-peity.html">Peity</a></li>
                            <li><a href="chart-sparkline.html">Sparkle</a></li>
                            <li><a href="chart-knob.html">Knob</a></li> -->
                    </ul>
                </li>
                <!-- <li><a href="app-email.html"><i class="ti-email"></i> Email</a></li> -->
                <li><a class="sidebar-sub-toggle"><i class="ti-user"></i> Track Service </a>
                    <ul>
                        <li><a href="/track-service">Track Service</a></li>
                    </ul></a>
                </li>
                <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid2-alt"></i> Payment Details </a>
                    <ul>
                        <li><a href="/payment">Do Payment</a></li>
                    </ul>
                </li>
                {{!-- <li class="label">Features</li> --}}
                {{!-- <li><a class="sidebar-sub-toggle"><i class="ti-heart"></i>Service Ratings</a>
                    <ul>
                        <li><a href="#">Service Ratings</a></li>
                    </ul>
                </li> --}}
                {{!-- <li><a href="app-email.html"><i class="ti-email"></i> Email
                        <span class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="uc-calendar.html">My Mails</a></li>
                    </ul>

                </li> --}}
                <!-- <li><a class="sidebar-sub-toggle"><i class="ti-panel"></i> Components <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="uc-calendar.html">Calendar</a></li>
                            <li><a href="uc-carousel.html">Carousel</a></li>
                            <li><a href="uc-weather.html">Weather</a></li>
                            <li><a href="uc-datamap.html">Datamap</a></li>
                            <li><a href="uc-todo-list.html">To do</a></li>
                            <li><a href="uc-scrollable.html">Scrollable</a></li>
                            <li><a href="uc-sweetalert.html">Sweet Alert</a></li>
                            <li><a href="uc-toastr.html">Toastr</a></li>
                            <li><a href="uc-range-slider-basic.html">Basic Range Slider</a></li>
                            <li><a href="uc-range-slider-advance.html">Advance Range Slider</a></li>
                            <li><a href="uc-nestable.html">Nestable</a></li>

                            <li><a href="uc-rating-bar-rating.html">Bar Rating</a></li>
                            <li><a href="uc-rating-jRate.html">jRate</a></li>
                        </ul>
                    </li> -->
                <!-- <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid4-alt"></i> Table <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="table-basic.html">Basic</a></li>

                            <li><a href="table-export.html">Datatable Export</a></li>
                            <li><a href="table-row-select.html">Datatable Row Select</a></li>
                            <li><a href="table-jsgrid.html">Editable </a></li>
                        </ul>
                    </li> -->
                <!-- <li><a class="sidebar-sub-toggle"><i class="ti-heart"></i> Icons <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="font-themify.html">Themify</a></li>
                        </ul>
                    </li> -->
                <li><a class="sidebar-sub-toggle"><i class="ti-map"></i>Service Maps </a>
                    <ul>
                        <li><a href="gmaps.html">Service Map</a></li>
                        <!-- <li><a href="vector-map.html">Vector Map</a></li> -->
                    </ul>
                </li>
                <!-- <li class="label">Form</li>
                    <li><a href="form-basic.html"><i class="ti-view-list-alt"></i> Basic Form </a></li>
                    <li class="label">Extra</li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-files"></i> Invoice <span
                                class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="invoice.html">Basic</a></li>
                            <li><a href="invoice-editable.html">Editable</a></li>
                        </ul>
                    </li> -->
                <li><a class="sidebar-sub-toggle"><i class="ti-target"></i> Account Settings </a>
                    <ul>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/forgotpassword">Forgot password</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                    <!-- </li>
                    <li><a href="../documentation/index.html"><i class="ti-file"></i> Documentation</a></li>
                    <li><a><i class="ti-close"></i> Logout</a></li> -->
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="float-right">
                    <div class="dropdown dib">
                        <div class="header-icon" data-toggle="dropdown">
                           
                            <div class="drop-down dropdown-menu dropdown-menu-right">
                               
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                    src="static/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">...... </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                    src="static/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">....</div>
                                                    <div class="notification-text">....</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                    src="static/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">...</div>
                                                    <div class="notification-text">...
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                    src="static/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mr. John</div>
                                                    <div class="notification-text">....
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a href="#" class="more-link">See All</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dib">
                        <div class="header-icon" data-toggle="dropdown">
                           
                            <div class="drop-down dropdown-menu dropdown-menu-right">
                                
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li class="notification-unread">
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                    src="static/images/avatar/1.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mail 1</div>
                                                    <div class="notification-text">...
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="notification-unread">
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                    src="static/images/avatar/2.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mail 2</div>
                                                    <div class="notification-text">...
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                    src="static/images/avatar/3.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">Mail 3</div>
                                                    <div class="notification-text">...
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <img class="pull-left m-r-10 avatar-img"
                                                    src="static/images/avatar/2.jpg" alt="" />
                                                <div class="notification-content">
                                                    <small class="notification-timestamp pull-right">02:34
                                                        PM</small>
                                                    <div class="notification-heading">mail 4</div>
                                                    <div class="notification-text">...
                                                        ...</div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="text-center">
                                            <a href="#" class="more-link">See All</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown dib" id="dib" onclick="toogle();" style="position: relative;">
                        <div class="header-icon" data-toggle="dropdown">
                            <span class="user-avatar">{{user.firstName}}
                                <i class="ti-angle-down f-s-10"></i>
                            </span>
                            <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                <div class="dropdown-content-heading">
                                    <span class="text-left">Upgrade Now</span>
                                    <p class="trial-day">30 Days Trail</p>
                                </div>
                                <div class="dropdown-content-body" style="position: sticky; z-index: 10;">
                                    <ul> 
                                        
                                               <a href="/">
                                               <li>
                                                <i class="ti-user"></i>
                                                <span>Profile</span>
                                                 </li>
                                                </a>
                                           
                                    
                                        
                                         
                                        
                                                <a href="/login">
                                                <li>
                                                <i class="ti-settings"></i>
                                                <span>Setting</span>
                                                 </li>
                                              </a>
                                       
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toogle() {
        var element = document.getElementById("dib");
        element.classList.toggle("show");
    }
</script> 