<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ferrum - Reset Password</title>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <script>
        var token = '{{ token }}';
        console.log(token);
    </script>
    <style>
        #loading {
            position: fixed;
            height: 100vh;
            width: 100%;
            background: grey no-repeat center;
            opacity: 0.5;
            background-image: url('https://i.gifer.com/ZZ5H.gif');
            background-size: 50px 50px;
            visibility: hidden;
            top: 0;
        }
    </style>
</head>

<body class="bg-gradient-light">
    <div id="loading">

    </div>
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg " style="margin-top: 200px;">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block">
                                <img src="../static/images/password.png" width="100%" alt="login">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Reset Your Password?</h1>
                                        <p class="mb-4">We get it, stuff happens. Just enter your new password below and
                                            we'll reset your
                                            password!</p>
                                    </div>
                                    <center>
                                        <div id="msg">
                                    </center>
                                    <form onsubmit="resetPassword(); return false;">
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="password"
                                                placeholder="Enter new password" onKeyUp="checkPasswordStrength();" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="c_password" placeholder="Confirm password" required>
                                            <br>
                                            <input type="checkbox" class="form-control-user"
                                                onclick="showPassword()">Show Password
                                            <div class="" id="password-strength-status"></div>
                                        </div>

                                        <button type="submit" id="submit" class="btn btn-primary btn-user btn-block">
                                            <strong>Reset Password</strong>
                                        </button>
                                    </form>

                                    <hr>
                                    {{!-- <div class="text-center">
                                        <a class="small" href="/register">Create an Account!</a>
                                    </div> --}}
                                    <div class="text-center">
                                        <a class="small" href="/login"><strong>Click here for Login!</strong></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/js/app/auth/reset-password.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>