<div style="background-color: #6666ff;">
    <div class="unix-invoice">
        <div style="box-shadow: 10px 10px 10px 10px cornflowerblue;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div style="height: 1500px;" id="invoice" class="effect2 m-t-120">
                            <div id="invoice-top">
                                <div class="logo"> <img src="assets/images/logo.png" alt="Image" /></div>

                                <!--End Info-->

                                <!--End Title-->
                            </div>
                            <!--End InvoiceTop-->

                            <div id="msg"></div>

                            <div id="invoice-mid">
                                <!--End Invoice Mid-->

                                <div id="invoice-bot">
                                    <h3>Connect On Whatsapp</h3>
                                    <button><a href="https://api.whatsapp.com/send?phone={{phone}}" target="blank">WhatsApp</a></button>
                                </div>
                                <!--End InvoiceBot-->
                            </div>
                            <!--End Invoice-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../static/vendor/jquery/jquery.min.js"></script>